a {
  position: relative;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #0f2845;
}

a::after {
  border-radius: 1em;
  border-top: .1em solid #0f2845;
  content: "";
  position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
  transition: right .4s cubic-bezier(0,.5,0,1);
}

a:hover::after {
  right: 0;
}

body {	
  font-family: Helvetica; 
  margin: 25px;
}

hr {
  border-width: 2px;
  margin-top: -15px; 
}

/* tabled notes list? */
#menu ul {
  display: block;
}


.fullname {
  max-width: 255px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: none;
  transition: max-width 1s cubic-bezier(0,.5,0,1);
} 

.fullname:hover {
  max-width: 450px;
  /* overflow: visible; */
}

.current {
  border: 2px inset #0f2845 ;
  border-radius: 2.5px;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


body {
  background-color: #EDD1B0;
}


