 <!doctype html>
 <html>
   <head>
     <meta charset="utf-8">
     <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <script src="https://unpkg.com/jquery.terminal@2.x.x/js/jquery.terminal.min.js"></script>
     <link rel="stylesheet" href="https://unpkg.com/jquery.terminal@2.x.x/css/jquery.terminal.min.css"/>
     {% feed_meta %}
     {% seo %}
   </head>
   <a href=gui.html>click here to view GUI version of the website</a>
   <body>
     <script>
     $('body').terminal({
         ls: function() {
                this.echo("about     cv     notes");
	 },
	 help: function() {
	 	this.echo("cd - change directory\nls - list directories\ngui - graphical user interface");
	 },
	 pwd: function() {
		this.echo("Placeholder for pwd");
	 },
         gui: function() {
	   this.echo("<a href=gui.html>GUI</a>")

	 }
     }, {
	     greetings: "Welcome to my Website! I'm Thai.\nJust like a regular terminal type 'ls' to list the available directories.\nType 'help' to view all available commands."
     });
      </script>
 
  </body>
</html>

